<!DOCTYPE html>
<html>
  <head>
    <title>Repeats</title>
  </head>
  <body>
 <h1>Count Your Repeats</h1>
    <div id="form">
      <form class="form-group" action="/stringMade" method="post">
        <div>
          <label for="string">Key Word:</label>
          <input class="form-control" type="text" name="string" id="string">
        </div>
        <div>
          <label for="count">Sentence:</label>
          <input class="form-control" type="text" name="count" id="count">
        </div>
        <button id="count-btn" type="submit">Count!</button>
      </form>
    </div>

  </body>
</html>

