<!DOCTYPE html>
<html>
  <head>
    <title>Calculations</title>
  </head>
  <body>
    <div id="result">
      <h1>According to my calculations your input appeard {{ results }}  times in the string provided</h1>
    </div>

    <div>
      <form action="/">
        <button id="home" type="submit">Home</button>
      </form>
    </div>

  </body>
</html>